<!DOCTYPE html>
<html lang="en" manifest="https://github.com/romaklik/romaklik.github.io/romaklik.mf">
<head>
	    <!-- chema-org -->
    <!-- Разметка JSON-LD, созданная Мастером разметки структурированных данных Google. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "СЮРРЕАЛИЗМ ДНЯ",
  "author" : {
    "@type" : "Person",
    "name" : "Рома Клыков"
  },
  "url" : "https://romaklik.github.io/"
}
</script>
    <!-- chema-org end -->
    <meta charset="utf-8">
    <meta name="yandex-verification" content="b5169232c4e74a2e" />
    <meta name="google-site-verification" content="Fg0m2kpx4aVkvnpC_wFbZb5ZIo6ay3VVZxSdlvt2oPI" />
    <meta name="description" content="Прекрасные картины просто хорошего человека">
    <meta name="keywords" content="Сюрреализм простые слова по-русски перевод толкование узнать словарь википедия викисловарь 2018" />
    <meta name="robots" content="all, index, follow" />    
    <title>СЮРРЕАЛИЗМ ДНЯ</title>
	<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>
	<!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-11 d-flex align-items-center">
          <h1 class="logo mr-auto"><a href="">Сюрреализм дня</a></h1>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="">Обо мне</a></li>
              <li class="drop-down"><a href="">Картины</a>
              	<ul>
                  <li><a href="#cvet">Цветные</a></li>
                  <li><a href="#cherno-belie">Черно-белые</a></li>
                  <li><a href="#threed">Трехмерные</a></li>
              	</ul>
              </li>
              <li><a href="#video">Видео</a></li>
              <li><a href="#contact">Контакт</a></li>

            </ul>
          </nav><!-- .nav-menu -->
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
          	<div class="carousel-item active" style="background-image: url(assets/img/cvet/2.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Обо мне</h2>
                <p class="animate__animated animate__fadeInUp">Родился в 1977 году в городе Севастополе, 24 мая. Творить пытался лет с восьми, но торкнуло по-настоящему ровно в 18 лет. Собственно тогда я и нарисовал свою первую серьезную работу и назвал ее 'Она'. Самый продуктивный период творения длился примерно десять лет, с 1995 по 2005 г. За эти годы мне кажется я создал самые свои лучшие произведения. В 2005 году женился и как вы понимаете стало немного не до этого. Примерно до 2012 года был застой, но потом я вновь продолжил творить, что собственно и происходит до сих пор. Не знаю, к счастью или к сожалению, но я нигде не учился и никого художественного заведения не заканчивал.</p>
              </div>
            </div>
          </div>
  </section> <!-- End Intro Section -->
  <main id="main">  	
    <!-- pictures cvet -->
    <section id="cvet" class="section-bg">
    	<div class="container" data-aos="fade-up">
    		<header class="section-header">
    			<h3 class="section-title">Цветные</h3>
    		</header>
    	</div>
    	<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
    		<div class="col-lg-4 col-md-6 portfolio-item" v-for="a in cimages">
          <div class="portfolio-wrap">
            <figure>
              <img v-bind:src="a.image.large" class="img-fluid" v-bind:alt="a.title">
              <a v-bind:href="a.image.large" data-fancybox="cvet" v-bind:data-caption="a.title" v-bind:data-title="a.title" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h4 v-bind:title="a.title">{{a.title}}</h4>
              <!-- <h4><a href="portfolio-details.html">App 1</a></h4>
              <p>App</p> -->
            </div>
          </div>
        </div>
    	</div>
    </section>
    <!-- pictures cvet end -->
    <!-- pictures cherno-belie -->
    <section id="cherno-belie" class="section-bg">
    	<div class="container" data-aos="fade-up">
    		<header class="section-header">
    			<h3 class="section-title">Черно-белые</h3>
    		</header>
    	</div>
    	<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
    		<div class="col-lg-4 col-md-6 portfolio-item" v-for="b in cbimages">
          <div class="portfolio-wrap">
            <figure>
              <img v-bind:src="b.image.large" class="img-fluid" v-bind:alt="b.title">
              <a v-bind:href="b.image.large" data-fancybox="cb" v-bind:data-caption="b.title" v-bind:data-title="b.title" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h4 v-bind:title="b.title">{{b.title}}</h4>
              <!-- <h4><a href="portfolio-details.html">App 1</a></h4>
              <p>App</p> -->
            </div>
            <!-- <div class="portfolio-info">
              <h4><a href="portfolio-details.html">App 1</a></h4>
              <p>App</p>
            </div> -->
          </div>
        </div>
    	</div>
    </section>
    <!-- pictures cherno-belie end -->
   <!-- pictures cherno-belie -->
    <section id="threed" class="section-bg">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3 class="section-title">3D</h3>
        </header>
      </div>
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 portfolio-item" v-for="g in threedimages">
          <div class="portfolio-wrap">
            <figure>
              <img v-bind:src="g.image.large" class="img-fluid" v-bind:alt="g.title">
              <a v-bind:href="g.image.large" data-fancybox="threed" v-bind:data-caption="g.title" v-bind:data-title="g.title" class="link-preview"><i class="ion ion-eye"></i></a>
            </figure>
            <div class="portfolio-info">
              <h4 v-bind:title="g.title">{{g.title}}</h4>
             
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!-- pictures cherno-belie end -->
    <!-- ======= Video Section ======= -->
    <section id="video">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Видео</h3>
          <p>Выставки, интервью...</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" v-for="a in video">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              
                  <iframe width="560" height="315" v-bind:src="a.videoy" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
            </div>
          </div>

      </div>
  </div>
</section>
<!-- End video section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Контакт</h3>
          <p>Понравились работы, есть предложения, звоните пишите</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Телефон</h3>
              <p><a href="tel:+155895548855">+79787672406</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:roma.klykov.1977@mail.ru">roma.klykov.1977@mail.ru</a></p>
            </div>
          </div>

        </div>

        

      </div>
    </section><!-- End Contact Section -->
  </main>
  <!-- End main -->

<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
        	<div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>              
              <strong>Телефон:</strong> +79787672406<br>
              <strong>Email:</strong> roma.klykov.1977@mail.ru<br>
            </p>


          </div>

        </div>
      </div>
    </div>

    <div class="container">
      
      <div class="credits">
        
        В общем сделано с душой: <a href="//morepozitiva.github.io/"><strong>morepozitiva</strong></a>.
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->
	
	 <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script src="assets/vendor/vue.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/surrealizm.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>